/* Write your CSS code here */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 15px;
  align-self: center;
}

.header-logo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13%;
}

.wave-logo {
  height: 21px;
  width: 21px;
  margin-right: 3px;
}

.header-app-name {
  font-size: 15px;
  font-weight: 600;
  color: #6d396b;
}

.nav-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
  width: 63%;
}
@media (min-width: 768px) {
  .header-logo-section {
    width: 6%;
  }
  .nav-menu-list {
    width: 23%;
  }
}
.link-item {
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: #6d396b;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
